/*
dark background color
#1F2937

header main text



#F9FAF8

#E5E7EB


*/

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 4em;
}

.header-link {
    padding: 0px 100px 0px 0px;
    margin-left: auto;
}

.header-logo {
    margin-right: auto;
}

.hero {
    display:  block;
    background-color: #1F2937;
    justify-content: center;
    padding: 20em;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 24px;
    
}
