/*
dark background color
#1F2937

Hero main text:
48px extra bold
#F9FAF8



Hero Secondary Text
18px
#E5E7EB

Header Logo Text
24px
#F9FAF8


*/

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}



/* Section One */
    /* Navbar Section */

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 50px 500px 50px 500px;
}

.header-logo {
    width: 200px;
    height: auto;
    border-radius: 50%;
    transform: scaleX(-1)
}

.headerlink {
 /* display: flex;*/
    text-align: right;
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 4px;
}

/* hero section*/


.hero-section {
    display: flex;
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
}


.hero-main {
    flex-basis: 500px;
    margin-right: 60px;
    text-align: left;
}

.hero-main h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-main p {
    size: 18px;
    color: #E5E7EB;
}

.hero-main button {
    color:#ffffff;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 28px;
    border-radius: 12px;
    border: #3882F6;
}

.leaves img {
    width: 400px;
    height: auto;
    border-radius: 15px;
}

.content {
    align-items: center;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 3px solid #3882F6;
    object-fit: cover;
    margin: 20px 20px 20px 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 50px 600px 50px 600px;
}

.quote h3{
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote p{
    text-align: right;
    font-weight: bolder;
}

.cta-banner {
    padding: 50px;
    background-color: #3882F6;
    margin: 100px 0px 100px 0px ;
}

.cta-support {
    font-size: 24px;
    color: #F9FAF8;
    text-align: left;
    padding-left: 600px;
}

.cta-banner div {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
    padding-left: 600px;
}

.cta-banner button {
    display: inline;
    color: #ffffff;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #ffffff;
    border-style: solid;
    padding: 15px 20px;
}

.footer {
    padding: 25px;
    background-color: #1F2937;
    color: #F9FAF8  ;
}