/*
dark background color
#1F2937

Hero main text:
48px extra bold
#F9FAF8



Hero Secondary Text
18px
#E5E7EB

Header Logo Text
24px
#F9FAF8


*/

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}



/* Section One */
    /* Navbar Section */

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 50px 500px 50px 500px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}

.headerlink {
 /* display: flex;*/
    text-align: right;
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 4px;
}

/* hero section*/


.hero-section {
    display: flex;
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
}


.hero-main {
    flex-basis: 500px;
    margin-right: 60px;
    text-align: left;
}

.hero-main h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-main p {
    size: 18px;
    color: #E5E7EB;
}

.hero-main button {
    color:#ffffff;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 28px;
    border-radius: 12px;
    border: #3882F6;
}

.leaves img {
    width: 300px;
    height: auto;
}

